<header>
    <h1>YUM</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/about">About Us</a></li>

            <link rel="stylesheet" href="/styles/main.css">
        </ul>
    </nav>
</header>