<header class="row">

    <h1 class="col-3">YUMY</h1>

    <nav class="col-3">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/about">About Us</a></li>

            <link rel="stylesheet" href="/styles/main.css">
        </ul>
    </nav>
</header>