<header class="row">

    <% if ( href="/") { %>
    <h1 class="col-md-3" id="animated-heading"><a href="/">YUMY</a></h1>
    <% } else { %>
        <h1 class="col-md-3" ><a href="/">YUMY</a></h1>
        <% } %>

    <section class="col-6">

    </section>

    <div class="col-md-3"> 
        
        <nav class="col-md">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/recipes">Recipes</a></li>
                <!-- <li><a href="/about">About Us</a></li> -->

                <link rel="stylesheet" href="/styles/main.css">
            </ul>
        </nav>
    </div>
  
</header>