<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/header.ejs', {title: 'New Recipe | My Recipes'}) %>
    <link rel="stylesheet" href="/styles/recipe-form.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <h1>New Recipe</h1>

    <form method="POST" action="/recipes">
        <label for="recipeType">Recipe Type:</label>
        <select name="recipeType" id="recipeType" required>
            <option value="food">Food</option>
            <option value="drink">Drink</option>
        </select>

        <label for="recipeName">Recipe Name:</label>
        <input type="text" name="recipeName" id="recipeName" required>

        <label for="photo">Photo URL:</label>
        <input type="text" name="photo" id="photo">

        <label for="description">Description:</label>
        <textarea name="description" id="description"></textarea>

        <label for="numOfIng">Number of Ingredients:</label>
        <input type="number" name="numOfIng" id="numOfIng" min="1" required>

        <div id="ingredients">
           <label for="ingredients">Ingredients:</label>
            <input type="text" name="ingredients" id="ingredients" required>
        </div>

        <label for="quickFinds">Quick Finds:</label>
        <input type="checkbox" name="quickFinds" id="quickFinds" value="true">

        <label for="instructions">Instructions:</label>
        <textarea name="instructions" id="instructions"></textarea>

        <button type="submit">Add Recipe</button>
    </form>

</body>

</html>
